* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  min-height: 100vh;
  color: rgb(65, 105, 225, 0.7);
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.big-img {
  background: url("water.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.small-img {
  background: url("mount.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.folder-img {
  background: url("city.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
